.footer__container {
    background: #fff;
    padding: 2em;

    a {
        text-decoration: none;
        color: $offSeaweed;
    }

    &__main {
        display: flex;
        justify-content: space-between;
        padding: 4em;

        .tnc__container {
            display: flex;
            flex-direction: column;

            &--logo_tnc {
                display: flex;
                align-items: center;

                .tnc__logo {
                    max-width: 200px;
                    max-height: 200px;

                    img {
                        width: 100%;
                        height: 100%;
                        border: 2px solid $richBlack;
                    }
                }

                .tnc__conditions {
                    padding-left: 1em;
                    font-size: 1.15rem;

                    &__list {
                        list-style: none;
                        padding: 0;
                        color: $richBlack;
                        line-height: 2.5em;
                    }
                }
            }

            .socials {
                margin-top: 1em;

                &__list {
                    display: flex;
                    justify-content: space-between;
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    font-size: 2rem;
                }

                .social_icon {
                    transition: 250ms ease;
                }
            }

        }

        .helpful {
            display: flex;
            justify-content: space-between;

            &__container {
                padding-right: 5em;

                h1 {
                    font-size: 1.8rem;
                }

                &__list {
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    line-height: 2em;
                }
            }
        }
    }

    .below__footer {
        display: flex;
        justify-content: space-between;
        border-top: 2px solid $richBlack;
        margin: 1em 5em 1em 5em;

        &__hours {
            h1 {
                font-size: 2rem;
                text-align: center;
            }

            &__list {
                font-size: 1.2rem;
                list-style: circle;
                margin: 0;
                line-height: 1.7rem;
            }
        }

        &__payment {
            padding: 2em;
            color: $richBlack;

            h1 {
                font-size: 1.25rem;
                text-align: center;

                span {
                    font-size: 1.1rem;
                }
            }

            &__list {
                display: flex;
                justify-content: space-evenly;
                padding: 0em 3em;
                margin: 0;
                list-style: none;
                font-size: 2.2rem;
                color: rgba(114, 113, 113, 0.876);
            }

            .below__footer__disclaimer {
                margin-top: 5em;
                display: flex;
                justify-content: flex-end;

                ul {
                    list-style: none;
                    padding: 0;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    align-items: flex-end;
                    width: 60%;

                    li {
                        font-size: 1.15rem;
                    }

                    #disclaimer {
                        margin-top: 1.5em;
                    }
                }
            }
        }
    }
}