// Main colors
$frenchBistre: #846C5B;
$metalSeaweed: #388697;
$richBlack: #002626;

// Offshades
$offBistre: #826149;
$offSeaweed: #2d6672;
$offBlack: #021616;

// Icons

$dangerYellow: rgb(255, 200, 0);