@import './responsive';

// Header & footer
@media (max-width: $breakpoint-mobile) {
    // Header
    .container__header__utilities {
        justify-content: center;
        flex-direction: column;
        align-items: flex-end;
        border-bottom: none;
        width: 100%;

        .header__utilities__left {
            margin-bottom: 1.25em;
            margin-left: 0em;
            padding: 0;
            width: 100%;

            &__items {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 100%;
                align-items: center;

                .utilities__left__items--cart {
                    margin-bottom: 1em;
                }
            }
        }

        .header__utilities__right {
            margin-right: 0em;
            margin-top: 1em;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 100%;

            button {
                align-self: center;
                width: 150px !important;
                height: 40px !important;
            }

            &__account {
                height: 100px !important;
            }

            .mobile_nav {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            .mobile_nav__burger-Menu {
                height: 100%;
                width: 100%;
                
                .mobile_nav-list {
                    width: 300px;
                    background: $metalSeaweed;
                    color: white;
                    border-radius: 1em;
                    list-style: none;
                    padding: 1em 0em;
                    text-align: center;
                    line-height: 2.25em;

                    a {
                        text-decoration: none;
                        color: #fff;
                        text-transform: capitalize;
                    }
                }
            }

            .mobile_nav__burger {
                width: 3.5em;
                height: 2.5em;
                border: 2px solid $richBlack;
                background: $metalSeaweed;
                border-radius: .25em;
                cursor: pointer;

                i {
                    font-size: 1.6rem;
                    color: #fff;
                }
            }
        }
    }

    .container__header__nav {
        display: none;
    }

    // Footer 
    .footer__container__main {
        flex-direction: column;
        padding: 0;
        width: 100%;

        .tnc__container {
            flex-direction: column;
            width: 100%;
            align-items: center;
            justify-content: center;

            &--logo_tnc {
                flex-direction: column;

                .tnc__logo {
                    max-width: 100px;
                    max-height: 100px;
                }

                .tnc__conditions {
                    padding: 0;
                    width: 100%;

                    &__list {
                        display: flex;
                        align-items: center;
                        line-height: unset;

                        &-item {
                            margin-right: .5em;
                            width: 30%;
                        }
                    }
                }
            }
        }

        .socials {
            &__list {
                &-item {
                    margin-right: .5em;
                }
            }
        }

        .helpful {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            margin-top: 2em;

            &__container {
                padding: 0;
            }
        }
    }

    .footer__container {
        .below__footer {
            margin: unset;
            margin-top: 2.5em;
            flex-direction: column;

            &__payment {
                margin-top: 2em;
                padding: 0;

                &__list {
                    font-size: 1.8em;

                    &-item {
                        margin-right: .5em;
                    }
                }

                .below__footer__disclaimer {
                    ul {
                        width: 100%;
                    }
                }
            }
        }
    }

    // Sitemap
    .sitemap {
        h1 {
            padding: 1em 0em !important;
            font-size: 2.2rem;
        }

        &_box_homepage {
            margin: 0 !important;
            padding: 1em !important;
        }

        .mainpage {
            font-size: 1.8rem !important;
        }

        &_box_availablePages {
            margin: 1em 0em !important;
        }

        .available_pages {
            flex-direction: column;
        }

        &_box_comingSoonPages {
            margin: 0 !important;
            margin-top: 2em !important;
            padding-bottom: 5.5em;
        }
    }
}

// ** Homepage mobile styling
@media (max-width: $breakpoint-mobile) {
    // Hide slider
    .promoslider {
        display: none;
    }
}


// Sponsors
@media (max-width: $breakpoint-mobile) {
    .sponsors__container {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0;

        img {
            width: 150px;
            height: 125px;
            margin: 0;
        }
    }
}

// Showcase
@media (max-width: $breakpoint-mobile) {
    .showcase__title::after {
        position: unset;
    }

    .showcase__title {
        width: 100%;
        padding: 0;

        .title {
            font-size: 2rem;
        }

        .subtitle {
            font-size: 1rem;
        }
    }

    .showcase__display {
        flex-direction: column;
        align-items: center;
        padding: 0;

        &__product {
            max-width: 200px;
            max-height: 325px;
            margin: 1em 0em !important;

            img {
                height: 325px;
            }

            &__text {
                font-size: 1.25rem;
                top: 40%;
                left: 25%;
            }
        }
    }

    .showcase__description {
        flex-direction: column;
        align-items: center;
        margin-top: 2.5em;

        &__all {
            margin: 1em 1.25em !important;

            h1 {
                font-size: 2rem;
            }
        }
    }
}

// ** Women page & Men page

@media (max-width: $breakpoint-mobile) {
    .clothing__products__container__leftNav {
        display: none;
    }

    .clothing__products__container__rightGrid {
        margin-left: 0;
        width: 100%;

        .grid_heading::after,
        .grid_heading::before {
            position: unset;
        }

        .grid_heading {
            font-size: 1.75rem;
            text-align: center;
        }

        &-grid {
            grid-template: unset;
        }

        .clothing__products__gridItem-display_options {
            display: flex !important;
            font-size: 1rem !important;
        }

        @media (min-width: 25em) and (max-width: $breakpoint-mobile) {
            .clothing__products__container__rightGrid-grid {
                grid-template-columns: 1fr 1fr;
            }
        }
    }
}

// ** Under construction page styling 

@media (max-width: $breakpoint-mobile) {
    .under__construction {
        clip-path: polygon(100% 0, 100% 90%, 0 100%, 0 10%) !important;
        padding: 0 !important;

        .under__construction__warning {
            text-align: center;
            margin-top: 5em;
            padding: 0 1.5em;

            h1 {
                font-size: 1.8rem !important;
            }
        }

        .under__construction__details {
            text-align: center;
            padding: 0 1em;

            h1 {
                font-size: 2rem !important;
            }

            h2 {
                font-size: 1.8rem !important;
            }
        }

        .returnIndex {
            margin-top: 0em !important;
            margin-bottom: 1.5em;
            font-size: 1.75rem !important;
        }
    }
}

// ** Form page styling
@media (max-width: $breakpoint-mobile) {
    .contact__headings {
        margin-bottom: 1em;

        h1 {
            font-size: 1.6rem !important;
        }
    }

    .contact__form-container {
        width: unset;
        padding: 1em;
    }

    .form__input {
        font-size: 1rem;
    }

    .disclaimer {
        padding: 1em 1.5em;
    }

    #msg_area {
        height: 25vh !important;
    }

    #submit {
        margin-right: 0em !important;
    }
}