.sitemap {
    background: #fff;
    margin-bottom: 1.25em;
    border-bottom-right-radius: 52em;

    h1 {
        margin: 0;
        padding: 1.5em 0em;
        text-align: center;
        text-transform: uppercase;
        font-size: 2.5rem;
        text-decoration: underline;
    }

    &_box {
        margin: 0 auto;
        width: 50%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        div {
            width: 100%;
            text-align: center;
        }

        a {
            text-decoration: none;
            color: $metalSeaweed;
            font-size: 1.8rem;
            transition: 225ms ease;
        }

        &_homepage {
            margin: 1.5em 0em;
            padding: 1em;

            a {
                font-size: 2.5rem;
            }
        }

        &_availablePages {
            margin: 1.5em 0em;

            .available_pages {
                display: flex;
                justify-content: space-around;
                font-size: 1.3rem;
            }
        }

        &_comingSoonPages {
            margin-top: 5.25em;
            margin-bottom: 1.25em;

            h3 {
                font-size: 1.3rem;
                text-decoration: underline;
            }

            h4 { margin: 0 }
        }
    }
}